node_modules/
__pycache__/
*.pyc
.env
.DS_Store
# Specific files to ignore
backend/app/core/serviceAccountKey.json
frontend/package-lock.json
frontend/postcss.config.cjs
frontend/src/firebase.js
frontend/vite.config.js